body {
    background-color: #e8e8e8;
}

nav {
	background-color: #a0a0a0;
}

header {
    background: #e0e0e0;
}

aside {
	background-color: #e0e0e0;
}

article {
	background-color: #e0e0e0;
}

footer {
    background-color: #e0e0e0;
}

